*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color:#000;
    color: #fff;
    display: flex;
}

main{
    width: 850px;
    display: flex;
    flex-direction: column;
    padding: 35px 0px 0px 25px;

    border: 1px solid red;

  
}

