*{  
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;  
    font-family: 'Roboto', sans-serif;
    
}

#container{
   display: flex;
   justify-content: space-around;
   background-color: rgb(0, 0, 0);
   
}

.sidebar{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
    width: 16%;
    padding: 20px;
    background-color: black;
}
.sidebar ul a{
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: white;

}
.sidebar ul a:hover{
    transition: 0.2s;
    border-radius: 10px;
    transform: translateX(15px);
    
    color: #1D9BF0;
}
img:hover{
    fill: #1D9BF0;
}
.sidebarContainer{
 margin-top: 10px;
}
.sidebar .logo{
    margin-left: -10px;
    height: 50px;
    width: 50px;
}

.sidebar img{
    height: 24px;
    width: 24px;
}
.master{
    display: flex;
    flex-direction: column;
}
.master h1{
    margin-top: 30px;
    color: #ffffff;
    font-size: 20px;

    border-bottom: 1px solid #6b6b6b8f;
    margin: 35px 0px 20px 0px;
}
.post textarea{
    height: 150px;
    width: 100%;
    padding: 15px;
    background-color: #202020;
    resize: none;
    color: gainsboro;
    border-radius: 20px;  
    outline: none;
}

textarea:focus{
 border: 1px solid #1D9BF0;
}

.post{ 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 25px;
}
.post button{
    border-radius: 52px;
    width: 120px;
    height:42px;
    background-color: #1D9BF0;
    color: #ffffff;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    
}
.post button:hover{
    transition: 0.5s;
    background-color: #58bcff;
}

aside{
    height: max-content;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    background-color: #202327;
    border-radius: 20px;
    padding: 15px;
}

.title-aside, .title-feed{
    text-align: left;
    color: #ffffff;
    border-bottom: 1px solid rgb(77, 77, 77);
    margin-bottom: 10px;
        
}
.followers{
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 10px;
  

}
.followers img{
    height: 25px;
    width: 25px;
}
.followers h2, .name-feed{
    color: #ffffff;
    font-family: sans-serif;
    font-size: 14px;
}
.followers button{
    height: 20px;
    width: 55px;
    border-radius: 15px;
    background-color: #ffffff;
    text-align: center;
    font-family: sans-serif;
    border:none;
    cursor: pointer;
}
.followers button:hover{
    transition: 0.5s;
    background-color: #1D9BF0;
    color: #ffffff;
}
section{
    margin-bottom: 15px;
   
}
.postContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
   
}
.postContainer .postImg img {
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
}
.postImg{
    margin: -5px 0px 30px 0px;
    
    height: 200px;
    align-items: center;
    max-width: max-content;
}

.feed{
    min-height: 70px;
    max-height: auto;
    width: 600px;
    background-color: #202327;
    border-radius: 10px;
    padding: 20px;
}
.header{
    display: flex;
    gap:15px;
}
.header img{
    height: 50px;
}
.dateContainer{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.dateContainer p{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #707070;

}
.text-feed{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;   
}
.dateContainer p {
    text-align: left;
    color: #ffffff;
    margin: -15px 0px 20px 0px;
}
.postP p{
    margin: -15px 0px 20px 60px;
    color: #ffffff;
}
.feed button{
    border:none;
    cursor: pointer;
    background-color: transparent;
}


.buttons{
    display: flex;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #707070;
    color: #1D9BF0;
}

span{
    margin-left: 5px;
}

@media (max-width: 1000px){
    #container{
        display: flex;
        flex-direction: column;
    }
    .sidebar{
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content:center;
      gap: 28px;
    }
    .sidebar ul a{
        display: flex;
        flex-direction: column;
        align-items: center;    
        gap: 5px;
        
      }
      .sidebar ul a:hover {
        transform: none;
       
      }

    .master{
        width: 85%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 100%;
    }
    .feed{
        width: 100%;
    }
    aside, .logo{
        display: none;
      
    }

}