*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: black;
}
form{
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    gap: 5px;
    width: 300px;
}
label{
    font-size: 14px;
    color: #ffffff;
}
form input{
   background-color: #202020;
   border: none;
   height: 40px;
   width: 100%;
   border-radius: 5px;
   padding: 5px;
   color: #ffffff;
}
form button{
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #1D9BF0;
    color: #ffffff;
    margin-top: 10px;
    cursor: pointer;
}
img{
    height: 50px;
    width: 60px;
    margin: 0 auto;

    margin-bottom: 25px;
}
form button:hover{
        background-color: #48b6ff;
        transition: 0.3s;
}
form input:focus{
 outline: none;
 border:1px solid #1D9BF0;
}
.forgout{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;

    gap: 5px;
}
a, h3{
  font-size: 14px;
  color: #ffffff;
}

h1{
    color: #ffffff;
    font-size: 21px;
    font-family: monospace;
    text-align: center;
}

@media (max-width: 600px) {
    form{
        margin-top: 50%;
    }

}